<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="My.MySettings.DRSConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\rainersc\DSR\DRS.mdb"
            providerName="System.Data.OleDb" />
        <add name="My.MySettings.DRS2_0ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Inetpub\wwwroot\drs2.0\App_Data\DRS2.0.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <My.MySettings>
            <setting name="SCHEDULETEXTFILE" serializeAs="String">
                <value>C:\temp\scheduled.txt</value>
            </setting>
            <setting name="DRS2_0Lib_schedViaWebServc_ScheduledFileAccess"
                serializeAs="String">
                <value>http://localhost/DRS2.0/WSFileAccess.asmx</value>
            </setting>
            <setting name="DRS2_0Lib_WSfileacc_WSFileAccess" serializeAs="String">
                <value>http://localhost/DRS2.0/WSFileAccess.asmx</value>
            </setting>
        </My.MySettings>
    </applicationSettings>
</configuration>
